<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp9.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsFormsApp9.Properties.Settings>
      <setting name="txt_logfile" serializeAs="String">
        <value>E:\Roboti\MFU\02.DataLogFile_31.10.2022.xlsx</value>
      </setting>
      <setting name="txt_st10_flowVolume" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST10_FlowVolume.xlsm</value>
      </setting>
      <setting name="txt_st10_weldingDistance" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST10_WeldingDistance.xlsm</value>
      </setting>
      <setting name="txt_st40_point1" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_1.xlsm</value>
      </setting>
      <setting name="txt_st40_point2" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_2.xlsm</value>
      </setting>
      <setting name="txt_st40_point3" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_3.xlsm</value>
      </setting>
      <setting name="txt_st40_point4" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_4.xlsm</value>
      </setting>
      <setting name="txt_st40_point5" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_5.xlsm</value>
      </setting>
      <setting name="txt_st40_point6" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST40_Point_6.xlsm</value>
      </setting>
      <setting name="txt_st60_welding_distance" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST60_Welding_Distance.xlsm</value>
      </setting>
      <setting name="txt_st70_plug_force" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST70_Plug_Force.xlsm</value>
      </setting>
      <setting name="txt_st80_insulation_resistance_hv" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Insulation_Resistance_HV.xlsm</value>
      </setting>
      <setting name="st10FlowVolumeRange" serializeAs="String">
        <value>AVX2:AVX51</value>
      </setting>
      <setting name="st10WeldingDistanceRange" serializeAs="String">
        <value>AUM2:AUM51</value>
      </setting>
      <setting name="st40_point1_Range" serializeAs="String">
        <value>BJI2:BJI51</value>
      </setting>
      <setting name="st40_point2_Range" serializeAs="String">
        <value>BJP2:BJP51</value>
      </setting>
      <setting name="st40_point3_Range" serializeAs="String">
        <value>BJW2:BJW51</value>
      </setting>
      <setting name="st40_point4_Range" serializeAs="String">
        <value>BKD2:BKD51</value>
      </setting>
      <setting name="st40_point5_Range" serializeAs="String">
        <value>BKK2:BKK51</value>
      </setting>
      <setting name="st40_point6_Range" serializeAs="String">
        <value>BKR2:BKR51</value>
      </setting>
      <setting name="st60_welding_distance_Range" serializeAs="String">
        <value>BPU2:BPU51</value>
      </setting>
      <setting name="st70_plug_force_Range" serializeAs="String">
        <value>BDV2:BDV51</value>
      </setting>
      <setting name="st80_insulation_resistance_hv_Range" serializeAs="String">
        <value>BAA2:BAA51</value>
      </setting>
      <setting name="txt_st80_leak_test" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Leak_Test.xlsm</value>
      </setting>
      <setting name="st80_leak_test_Range" serializeAs="String">
        <value>AXA2:AXA51</value>
      </setting>
      <setting name="txt_st80_resistivity_cp" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Resistivity_CP.xlsm</value>
      </setting>
      <setting name="st80_resistivity_cp_Range" serializeAs="String">
        <value>AYK2:AYK51</value>
      </setting>
      <setting name="txt_st80_resistivity_pe_to_cp" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Resistivity_PE_to_CP.xlsm</value>
      </setting>
      <setting name="st80_resistivity_pe_to_cp_Range" serializeAs="String">
        <value>AYD2:AYD51</value>
      </setting>
      <setting name="txt_st80_resistivity_pp" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Resistivity_PP.xlsm</value>
      </setting>
      <setting name="st80_resistivity_pp_Range" serializeAs="String">
        <value>AYR2:AYR51</value>
      </setting>
      <setting name="txt_st80_temperature_dc_minus" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Temperature_DC_minus.xlsm</value>
      </setting>
      <setting name="st80_temperature_dc_minus_Range" serializeAs="String">
        <value>AYY2:AYY51</value>
      </setting>
      <setting name="txt_st80_temperature_dc_plus" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST80_Temperature_DC_plus.xlsm</value>
      </setting>
      <setting name="st80_temperature_dc_plus_Range" serializeAs="String">
        <value>AZF2:AZF51</value>
      </setting>
      <setting name="txt_st90_pin_length_1" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_1.xlsm</value>
      </setting>
      <setting name="st90_pin_length_1_Range" serializeAs="String">
        <value>BEN2:BEN51</value>
      </setting>
      <setting name="txt_st90_pin_length_2" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_2.xlsm</value>
      </setting>
      <setting name="st90_pin_length_2_Range" serializeAs="String">
        <value>BEU2:BEU51</value>
      </setting>
      <setting name="txt_st90_pin_length_3" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_3.xlsm</value>
      </setting>
      <setting name="st90_pin_length_3_Range" serializeAs="String">
        <value>BFB2:BFB51</value>
      </setting>
      <setting name="txt_st90_pin_length_5" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_5.xlsm</value>
      </setting>
      <setting name="st90_pin_length_5_Range" serializeAs="String">
        <value>BFP2:BFP51</value>
      </setting>
      <setting name="txt_st90_pin_length_6" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_6.xlsm</value>
      </setting>
      <setting name="st90_pin_length_6_Range" serializeAs="String">
        <value>BFW2:BFW51</value>
      </setting>
      <setting name="txt_st90_pin_length_7" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_7.xlsm</value>
      </setting>
      <setting name="st90_pin_length_7_Range" serializeAs="String">
        <value>BGD2:BGD51</value>
      </setting>
      <setting name="txt_st90_pin_length_8" serializeAs="String">
        <value>E:\Roboti\MFU\MFU_ST90_Pin_Length_8.xlsm</value>
      </setting>
      <setting name="st90_pin_length_8_Range" serializeAs="String">
        <value>BGK2:BGK51</value>
      </setting>
    </WindowsFormsApp9.Properties.Settings>
  </userSettings>
</configuration>